@model Proj1.Models.Slab

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slab</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
