@model Proj1.Models.ElectricityReading

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ElectricityReading</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H19)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H19)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H20)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H20)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H21)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H21)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H22)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H22)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H23)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H23)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H24)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H24)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meter.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
